.header {
  background-image: url(./images/hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-color: darkslategray;
  height: 11rem;
  display: grid;
  align-items: center;
}

.header h1 {
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  );
  color: white;
  text-align: center;
  text-shadow: 0 2px 0 black;
}

.footer {
  background-color: #023B1C;
  border-top: 1px solid #dee2e6;
  padding: 3rem;
  text-align: center;
}

.pi {
  padding: .5rem;
}

.contentContainer {
  background-color: #F3EFE0;
}

#submit-button {
  background-color: #023B1C;
  border-color: #023B1C;
}

.card img{
  max-height: 350px;
  max-width: 650px;
}

.nav {
  background-color: #023B1C;
}

.nav a {
  color: white;
}

.nav a:hover {
  color: gold;
  border: none;
}

.nav-link.active {
  background-color: #F3EFE0;
  border-width: 0;
  color: #023B1C;
}

.proficiencies {
  padding-left: 4rem;
}