.header {
  background-image: url(./images/jack-t-6P3AZeUEtfU-unsplash.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-color: darkslategray;
  height: 11rem;
}

.header h1 {
  color: white;
  text-align: center;
}

.footer {
  background-color: #023B1C;
  border-top: 1px solid #dee2e6;
  padding: 3rem;
  text-align: center;
}

.pi {
  padding: .5rem;
}

.contentContainer {
  background-color: #F3EFE0;
}

#submit-button {
  background-color: #023B1C;
  border-color: #023B1C;
}

.card img{
  max-height: 250px;
}

.nav {
  background-color: #023B1C;
}

.nav a {
  color: white;
}

.nav a:hover {
  color: gold;
  border: none;
}

.nav-link {
}

.nav-link.active {
  background-color: #F3EFE0;
  border-width: 0;
  color: #023B1C;
}

/* .nav-link.active:hover  {
  background-color: #F3EFE0;
  border-width: 0;
  color: #023B1C;
} */
